html {
  font-size: 100%;
}

body {
  font-family: arial, helvetica;
  color: #044B05;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #044B05;
  font-weight: 500;
}

.container {
  height: 500px;
}

.avatar-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  opacity: 0.9;
}

.title-header {
  margin: 0 0 25px 0;
}

.title-title {
  font-size: 20px;
  margin-bottom: 2.5em;
}

.title-blurb {
  font-size: 20px;
  margin-top: 2.5em;
}

#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}

button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
}

.actions {
  list-style-type: none;
}
.actions button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border: 0;
  color: #fff;
  margin: 7px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}
.actions button:hover {
  background: #fff;
  color: #35495e;
}

a:visited {
  color: #044B05;
}

.nav-bar {
  height: 0;
  position: relative;
  top: 15px;
  padding: 0 30px 0 30px;
  z-Index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: #044B05;
}

.nav-bar__link {
  margin: 0 0 0 20px;
  text-decoration: none;
}

.nav-bar__link:hover {
  text-decoration: underline;
}

.nav-bar__home {
  text-decoration: none;
}
