html {
  font-size: 100%;
}

body {
  font-family: 'Jost', sans-serif;
  color: #000;
}

.title-title {
  text-align: center;
  color: #044b05;
  min-width: 0;
  min-height: 0;
  margin-bottom: 6%;
  margin-top: 10%;
}

.container {
  height: 100%;
  display: flex;
}

.container--title {
  flex-direction: column;
}

.container--about {
  padding: 118px 30px 50px;
  align-content: center;
  justify-content: space-between;
}

.avatar-pic {
  margin: auto auto 0;
  min-height: 0;
  max-width: 45vw;
  max-height: 60vh;
}

.title-title__main {
  font-weight: 400;
  font-size: 3.5rem;
  margin: 0;
}

.title-title__sub {
  font-weight: 300;
  font-size: 2em;
  margin-top: 0.2em;
}

.title-blurb {
  font-size: 20px;
  margin-top: 2.5em;
}

#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}

a:visited {
  color: #82555a;
}

a {
  color: #82555a;
}

.nav-bar {
  position: absolute;
  width: 100%;
  padding: 15px 0 25px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-color: #f7a6b2;
  background-image: linear-gradient(
      45deg,
      #f7b5a6 25%,
      transparent 25%,
      transparent 75%,
      #fff 75%,
      #fff
    ),
    linear-gradient(
      -45deg,
      #de687a 25%,
      transparent 25%,
      transparent 75%,
      #fff 75%,
      #fff
    );
  background-size: 67px 68px;
  background-repeat: repeat;
}

.nav-bar__link {
  margin: 0 0 0 20px;
  text-decoration: none;
}

.nav-bar__links {
  margin-right: 30px;
  font-size: 1.2em;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.nav-bar__link:hover {
  text-decoration: underline;
}

.nav-bar__home {
  margin-left: 30px;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.2em;
}

.cherry-blossom-background {
  position: absolute;
  left: 0;
  top: -50%;
  z-index: -2;
  width: 100%;
  height: auto;
}

.cherry-blossom-falling-right {
  position: absolute;
  right: 10%;
  top: 20%;
  z-index: 1;
  width: 60%;
  height: 80%;
}

.cherry-blossom-falling-left {
  position: absolute;
  transform: scaleX(-1);
  left: 0;
  top: 30%;
  z-index: -2;
  width: 40%;
  height: 70%;
}

.left-panel__border {
  padding: 3px;
  width: 40vw;
  height: auto;
  max-width: 800px;
  background-color: #000;
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.about__left-panel {
  width: 40vw;
  height: 100%;
  max-width: 800px;
  background-image: url("assets/pumpkins.jpg");
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.right-panel__border {
  padding: 3px;
  width: 40vw;
  height: auto;
  max-width: 800px;
  background-color: #000;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.about__right-panel {
  width: 40vw;
  height: 100%;
  max-width: 800px;
  background-image: url("assets/pumpkins.jpg");
  background-position: center;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.text-bubble--type-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 30vh;
  min-width: 120px;
  min-height: 240px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 20px;
}

.left-panel__bubble-one {
  position: absolute;
  left: 35%;
  top: 20%;
  z-index: 100;
}

.type-one--text {
  font-size: calc(14px + 0.1vw);
}
